{% extends 'base.html' %}

{% block body %}
{% comment %}  {% endcomment %}
{% comment %} <!-- Services section -->
<section id="services" class="services_wrapper">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 text-center mb-4">
              <span class="subtitle">What I can do for you</span>
              <h2>My Awesome Service</h2>
              <p>There are many variations of passages of Lorem Ipsum available,<br class="d-none d-md-block">
                  but the majority have suffered alteration.</p>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4 col-md-6 mb-4">
              <div class="card">
                  <div class="card-body text-md-start text-center">
                      <img src="./images/service/service-1.svg" alt="service" class="img-fluid mb-4">
                      <h3>Business Stratagy</h3>
                      <p>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
              <div class="card">
                  <div class="card-body text-md-start text-center">
                      <img src="./images/service/service-2.svg" alt="service" class="img-fluid mb-4">
                      <h3>Website Development</h3>
                      <p>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
              <div class="card">
                  <div class="card-body text-md-start text-center">
                      <img src="./images/service/service-3.svg" alt="service" class="img-fluid mb-4">
                      <h3>Marketing & Reporting</h3>
                      <p>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
              <div class="card">
                  <div class="card-body text-md-start text-center">
                      <img src="./images/service/service-3.svg" alt="service" class="img-fluid mb-4">
                      <h3>Mobile App Development</h3>
                      <p>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
              <div class="card">
                  <div class="card-body text-md-start text-center">
                      <img src="./images/service/service-4.svg" alt="service" class="img-fluid mb-4">
                      <h3>Marketing & Reporting</h3>
                      <p>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
              <div class="card">
                  <div class="card-body text-md-start text-center">
                      <img src="./images/service/service-3.svg" alt="service" class="img-fluid mb-4">
                      <h3>Mobile App Development</h3>
                      <p>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit.</p>
                  </div>
              </div>
          </div>

      </div>
  </div>
</section>
<!-- Services section exit --> {% endcomment %}

<!-- Portfolio Sectrion -->
<section id="portfolio" class="portfolio_wrapper">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 text-center mb-4">
              <span class="subtitle"><h6></h6></span>
              <h6>My Latest Project</h6>
              <p>Here is my Academic Projects Of Software devlopment And Web App Devlopment<br class="d-none d-md-block">
                  As Well As Machine Learning And Data Science Projects.</p>
          </div>
      </div>
      <div class="row">
        {% for project in projects %}
          <div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-0">
                {% if project.image %}
                  <span style="background-image:url('{{ project.image.url }}')"></span>
                {% endif %}  
              </div>
          </div>
        {% endfor %}  
          {% comment %} <div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-0">
                  <span style="background-image: url('./images/portfolio/App-Landing-Page.png')"></span>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-0">
                  <span
                      style="background-image: url('./images/portfolio/E-Commerce-Website-Using-Bootstap-5.png')"></span>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-0">
                  <span style="background-image: url('./images/portfolio/HeadPhones.png')"></span>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-0">
                  <span style="background-image: url('./images/portfolio/Ecommerce-Jewellery-Website.png')"></span>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-0">
                  <span style="background-image: url('./images/portfolio/Hashtag-Landing-Page.png')"></span>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-0">
                  <span
                      style="background-image: url('./images/portfolio/Christmas-Landing-Page.png')"></span>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-0">
                  <span style="background-image: url('./images/portfolio/SEO-Landing-Page.png')"></span>
              </div>
          </div> {% endcomment %}

      </div>
  </div>
</section>
<!-- Portfolio Section exit -->


{% endblock body %}