{% extends 'base.html' %}

{% block body %}

    <!-- About section -->
    <section id="about" class="about_wrapper">
        <div class="container">
            
            <div class="row justify-content-center align-items-left">
                <div class="col-lg-5 mb-3 mb-lg-0">
                    <img src="static\images\IMG20230114181744-removebg-preview.png" class="img-fluid rounded-3 position-fixed" style="" alt="About Us" >
                </div>

                <div class="col-lg-7 ps-lg-5 text-center text-lg-start">
                    <div class="my-3 my-lg-0">
                        <span class="subtitle">My About Details</span>
                        <h2>About Me</h2>
                        <p>I am a recent graduate with a Bachelor's degree in
                            Computer Science, eager to bring my skills and
                            knowledge to the workforce. My coursework included a
                            variety of programming languages such as Python, Java,
                            and C, as well as experience with software development
                            and database management. I am highly motivated and
                            adaptable, with a strong interest in learning new
                            technologies and staying up-to-date with industry
                            trends. I am excited to begin my career and make a
                            positive impact in the field of computer science.</p>
                    </div>
                    <div class="pt-4">
                        <ul class="nav nav-pills justify-content-center justify-content-lg-between mb-3" id="pills-tab" role="tablist">
                            {% comment %} <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-skill-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-skill" type="button" role="tab" aria-controls="pills-skill"
                                    aria-selected="true">Main Skills</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-Award-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-Award" type="button" role="tab" aria-controls="pills-Award"
                                    aria-selected="false">Awards</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-experiance-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-experiance" type="button" role="tab"
                                    aria-controls="pills-experiance" aria-selected="false">Experiance</button>
                            </li>  {% endcomment %}
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-education-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-education" type="button" role="tab"
                                    aria-controls="pills-education" aria-selected="true">Education / Qualification</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            {% comment %} <div class="tab-pane fade show active" id="pills-skill" role="tabpanel"
                                aria-labelledby="pills-skill-tab">
                                <div class="single-progress">
                                    <h6>Designing</h6>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 95%"
                                            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                    <span class="label">95%</span>
                                </div>
                                <div class="single-progress">
                                    <h6>Managment</h6>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 85%"
                                            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                    <span class="label">85%</span>
                                </div>
                                <div class="single-progress">
                                    <h6>Marketing</h6>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 75%"
                                            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                    <span class="label">75%</span>
                                </div>
                                <div class="single-progress">
                                    <h6>Development</h6>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 80%"
                                            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                    <span class="label">80%</span>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-Award" role="tabpanel"
                                aria-labelledby="pills-Award-tab">
                                <ul class="text-start ps-0">
                                    <li><a href="#">Awwwards.com
                                            <span>- Winner</span></a> 2019 - 2020
                                    </li>
                                    <li><a href="#">CSS Design Awards
                                            <span>- Winner</span></a> 2017 - 2018
                                    </li>
                                    <li><a href="#">Design nominees
                                            <span>- site of the
                                                day</span></a> 2013- 2014
                                    </li>
                                    <li><a href="#">Awwwards.com
                                            <span>- Winner</span></a> 2019 - 2020
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="pills-experiance" role="tabpanel"
                                aria-labelledby="pills-experiance-tab">
                                <ul class="text-start ps-0">
                                    <li><a href="#">Sr. Front-end
                                            Engineer<span> -
                                                Google</span></a> 2018 - Current
                                    </li>
                                    <li><a href="#">Front-end
                                            Engineer<span> -
                                                Microsoft</span></a> 2017 - 2018
                                    </li>
                                    <li><a href="#">Software
                                            Engineer<span> - Alibaba
                                            </span></a> 2013- 2014</li>
                                    <li><a href="#">Software
                                            Engineer<span> - Alibaba
                                            </span></a> 2013- 2014</li>
                                </ul>
                            </div>  {% endcomment %}
                            <div class="tab-pane fade show active" id="pills-education" role="tabpanel"
                                aria-labelledby="pills-education-tab">
                                <ul>
                                    <li><a>
                                        <li>BSc(Computer Science) - Savitribai Phule Pune University</li>
                                        <ul>
                                            <li>Completed : 2022 
                                            </li>
                                            <li>Percentage : 71.36%
                                            </li>
                                            <li>CGPA : 7.83</li>
                                        </ul>
                                            </a>   
                                    </li>
                                    <br>
                                    <li><a>
                                           
                                            <li> Machine Learning And AI Analyst - Symbiosis international university</li>
                                            <ul>
                                                <li>Completed : 2022</li>
                                            </ul>
                                            </a> 
                                    </li>
                                    <br>
                                    <li><a>
                                        <li>H.S.C - A.M College Hadapsar</li>
                                        <ul>
                                            <li>Completed : 2019</li>
                                            <li>Percentage : 54%</li>
                                        </ul>
                                            </a>   
                                    </li>
                                    <br>
                                    <li><a href="#">
                                        <li>S.S.C - K.B Hirey High School Pune</li>
                                        <ul>
                                            <li>
                                                Completed : 2017
                                            </li>
                                            <li>
                                                Percentage : 70.80%
                                            </li>
                                        </ul>
                                    </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="pt-4" id="s1">
                        <ul class="nav nav-pills justify-content-center justify-content-lg-between mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-skill-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-skill" type="button" role="tab" aria-controls="pills-skill"
                                    aria-selected="true">Strong Technical Skills</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-skill" role="tabpanel"
                                aria-labelledby="pills-skill-tab">
                                <div class="single-progress">
                                    <h6>Python Programming (Django,kivy,etc..)</h6>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 95%"
                                            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                    <span class="label">95%</span>
                                </div>
                                <div class="single-progress">
                                    <h6>Data Science (AI,ML,DL)</h6>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 90%"
                                            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                    <span class="label">90%</span>
                                </div>
                                <div class="single-progress">
                                    <h6>Web Technology</h6>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 75%"
                                            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                    <span class="label">75%</span>
                                </div>
                                <div class="single-progress">
                                    <h6>Software Development</h6>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 80%"
                                            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                    <span class="label">80%</span>
                                </div>
                                <div class="single-progress">
                                    <h6>Core Java</h6>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 70%"
                                            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                    <span class="label">70%</span>
                                </div>
                                <div class="single-progress">
                                    <h6>C and C++</h6>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 80%"
                                            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                    <span class="label">80%</span>
                                </div>
                            </div>
                            
                        </div>
                    </div>    
                        <div class="pt-4" id="s2">
                            <ul class="nav nav-pills justify-content-center justify-content-lg-between mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="pills-skill-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-skill" type="button" role="tab" aria-controls="pills-skill"
                                        aria-selected="true">Basic Technical Skills</button>
                                </li>
                                
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-skill" role="tabpanel"
                                    aria-labelledby="pills-skill-tab">
                                    <div class="single-progress">
                                        <h6>Cyber Security</h6>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 50%"
                                                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <span class="label">50%</span>
                                    </div>
                                    <div class="single-progress">
                                        <h6>NLP(Natural Laguage Processing)</h6>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 60%"
                                                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <span class="label">60%</span>
                                    </div>
                                    <div class="single-progress">
                                        <h6>Cloud And Grid Computing </h6>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 65%"
                                                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <span class="label">65%</span>
                                    </div>
                                    <div class="single-progress">
                                        <h6>Flutter Development</h6>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 50%"
                                                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <span class="label">50%</span>
                                    </div>
                                    <div class="single-progress">
                                        <h6>Big Data</h6>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 70%"
                                                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <span class="label">70%</span>
                                    </div>
                                    <div class="single-progress">
                                        <h6>Networking</h6>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 60%"
                                                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <span class="label">60%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                        <div class="pt-4" id="s3">
                            <ul class="nav nav-pills justify-content-center justify-content-lg-between mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="pills-skill-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-skill" type="button" role="tab" aria-controls="pills-skill"
                                        aria-selected="true">Soft Skills</button>
                                </li>
                                
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-skill" role="tabpanel"
                                    aria-labelledby="pills-skill-tab">
                                    <div class="single-progress">
                                        <h6>Communication</h6>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 90%"
                                                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <span class="label">90%</span>
                                    </div>
                                    <div class="single-progress">
                                        <h6>Problem-Solving</h6>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 95%"
                                                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <span class="label">95%</span>
                                    </div>
                                    <div class="single-progress">
                                        <h6>Logical Thinkig</h6>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 80%"
                                                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <span class="label">80%</span>
                                    </div>
                                    <div class="single-progress">
                                        <h6>Analytical Skill</h6>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 85%"
                                                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <span class="label">85%</span>
                                    </div>
                                    <div class="single-progress">
                                        <h6>Fast Learning</h6>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 90%"
                                                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <span class="label">90%</span>
                                    </div>
                                    <div class="single-progress">
                                        <h6>Practical Thinking</h6>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 100%"
                                                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <span class="label">100%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </section>
    <!-- About section exit -->
    <footer id="sticky-footer" class="flex-shrink-0 py-4 text-white-50" style="background-colo:midnightblue;">
        <div class="container text-center">
          <small>Copyright &copy; Your Website</small>
        </div>
    </footer>    
{% endblock body %}
{% comment %} mmlmoj {% endcomment %}
{% comment %} lkfljj {% endcomment %}