{% extends 'base.html' %}

{% block body %}


<!-- Portfolio Sectrion -->
<section id="portfolio" class="portfolio_wrapper" >
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center mb-4">
                <span class="subtitle"></span>
                <br>
                <br>
                <span class="subtitle"><h3>Welcome To My Certification World</h3></span>
                <p> Here Is My Certificates In Variou Field,<br class="d-none d-md-block">
                    I am Very Glad To Show My Certificates</p>
            </div>
        </div>
        <div class="row" >
          {% for cert in cert %}
            <div class="col-lg-3 col-md-3 mb-2">
              <h4>{{cert.cert_name}}</h4>
                <div class="card p-0">
                  {% if cert.cert_img %}
                    <span style="background-image:url('{{cert.cert_img.url}}')">
                        <div style="background-color:bisque ;">
                            <h5 style="color:black ; align-items: center;">{{cert.cert_course}}</h5>
                        <p style="color: black;">{{cert.cert_institute}}</p>
                        </div>
                    </span>
                    {% endif %}
                 
                  <!-- {% comment %} <a href="{{cert.url}}">Link Of Project</a>  {% endcomment %} -->
                </div>  
            </div> 
          {% endfor %}   
     </div>
    </div>
  </section>

  <!-- Portfolio Section exit -->
{% endblock body %}
