{% extends 'base.html' %}

{% block body %}
<!-- Contact section -->
<div class="col-lg-5 mb-3 mb-lg-0">
    <img src="static\images\IMG20230114181744-removebg-preview.png" class="img-fluid rounded-3 position-fixed" style="width:25% ; height: auto;"  alt="About Us" >
</div>
<section id="contact" class="contact_wrapper">
{% if messages %}
  {% for message in messages %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
{% endif %} 

    <div class="container">
        <div class="row justify-content-center align-items-right">
            <div class="col-lg-6 order-2 order-lg-1 pe-lg-5 text-lg-start text-center">
                <br>
                <br>
                <br>

                <span class="subtitle">Here Is My Contact Details</span>
                <h6>Hire Me.</h6>
                <div class="row call_details mb-4">
                    <label class="col-sm-3">Call us directly:</label>
                    <div class="col-sm-9 mb-3 mb-lg-2">
                        <a href="javascript:void(0)">+91 9604434223</a>
                    </div>
                    <label class="col-sm-3">Contact Email:</label>
                    <div class="col-sm-9 mb-3 mb-lg-2">
                        <a href="mailto:amolbrand00@gmail.com">amolbrand00@gmail.com</a>
                    </div>
                </div> 
                <br>
                <br>
            
                <p><h6>Your Valuable Word/Message/FeedBack About Me And My Website Is Most Important For Me </h6></p>
                <form action="/hireme" method="post">
                    {% csrf_token %}
                    <div class="mb-4">
                        <input type="text" class="form-control" placeholder="Your Name..." autocomplete="off" name="name" value="{{name}}">
                    </div>
                    <div class="mb-4">
                        <input type="number" class="form-control" placeholder="Your Phone..." autocomplete="off" name="phone" value="{{phone}}">
                    </div>
                    <div class="mb-4">
                        <input type="email" class="form-control" placeholder="Your Email..." autocomplete="off" name="email" value="{{email}}">
                    </div>
                    <div class="mb-4">
                        <input cols="40" rows="4" class="form-control" id="message"
                            placeholder="Write a Message..." autocomplete="off" name="feedback_text" value="{{feedback_text}}">
                    </div>
                    <button type="submit" class="main-btn">Submit</button>
                </form>
                
            </div>
            
        </div>
    </div>
</section>
<!-- contact section exit -->
{% endblock body %}