{% extends 'base.html' %}

{% block body %}
<div class="container">
  <div class="row justify-content-center align-items-right">
    <div class="card mb-3" style="width: 18rem; background: rgba(0, 0, 0, 0);">
      <img src="static\images\IMG20230114181744-removebg-preview.png" class="card-img-top position=fixed" alt="...">
      <div class="card-body">
        <h6 class="card-title">Open To Work</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="/hireme" class="main-btn">Hire Me</a>
      </div>
    </div>
  </div>
</div>
  
{% endblock body %}