{% extends 'base.html' %}

{% block body %}
<section id="contact" class="contact_wrapper">

    <div class="container">
        <div class="row justify-content-center align-items-right">
            <div class="col-lg-6 order-2 order-lg-1 pe-lg-5 text-lg-start text-center">
                <br>
                <br>
                <br>

                <h6>Here Is My Contact Details</h6>
                <div class="row call_details mb-4">
                    <label class="col-sm-3">Call us directly:</label>
                    <div class="col-sm-9 mb-3 mb-lg-2">
                        <a href="javascript:void(0)">+91 9604434223</a>
                    </div>
                    <label class="col-sm-3">Contact Email:</label>
                    <div class="col-sm-9 mb-3 mb-lg-2">
                        <a href="mailto:amolbrand00@gmail.com">amolbrand00@gmail.com</a>
                    </div>
                    <div class="col-lg-5 mb-3 mb-lg-0">
                        <img src="static\images\IMG20230114181744-removebg-preview.png" class="img-fluid position-fixed" style=" "  alt="About Us" >
                    </div>
                </div> 
            </div>
            
        </div>
    </div>
</section>
<!-- contact section exit -->
{% endblock body %}